<article>
    <header class="header">
        <h1 class="regular-text">Sensor Table</h1> 
        <a (click)="logOut()" href="#">Logout</a>
    </header>

    <div class="sesors-table">

        <form (ngSubmit)="null" [formGroup]="search_form" class="search-bar">
            <input formControlName="filter" name="filter" class="input-field" type="text" placeholder="enter text to search">
            <button (click)="search()" class ="default-btn-no-effects regular-text">Search</button>
        </form>

        <div class="sensor-container-header">
            <div>
                <h1 class="regular-text">Name</h1>
            </div>
            <div>
                <h1 class="regular-text">Model</h1>
            </div>
            <div>
                <h1 class="regular-text">Type</h1>
            </div>
            <div>
                <h1 class="regular-text">Range</h1>
            </div>
            <div>
                <h1 class="regular-text">Unit</h1>
            </div>
            <div>
                <h1 class="regular-text">Location</h1>
            </div>
        </div>
        
        <ol class="sensors-container">
            <li *ngFor="let sensor of sensors">
                <app-sensor-preview (deleted)="onDelete($event)" [sensor] = "sensor"></app-sensor-preview>
            </li>
        </ol>

        <div class="table-fotter">

            <button (click)="createSensor()" class ="default-btn">
                <h1 class="regular-text">Add Sensor</h1>
            </button>

            <div class="pagination">
                <button (click)="previousPage()" class ="regular-text default-btn-no-effects">Previous</button>
                <button *ngFor="let pageNumber of nearestPageNumbers"
                 [value]="pageNumber"
                 (click)="goToPage($event)" class ="page-number regular-text default-btn-no-effects">{{pageNumber == -1 ? "..." : pageNumber}}</button>
                <button (click)="nextPage()" class ="regular-text default-btn-no-effects">Next</button>
            </div>

            <h1 class="sensor-counter regular-text">Total : {{totalSensorsAmount}}</h1>
        </div>
    </div>
</article>