$headerColor : rgb(217,217,217);

$columnWidth : 210px;
$columnHieght : 40px;

.header{
    margin-left: 120px;
    margin-top: 20px; 
    display:flex;
    flex-direction: row;
    justify-content: space-between; 

    h1{
        font-size: 40px;
        margin-top: 0;
        margin-left: 100px;
    }

    a{
        font-size: 20px;
        margin-top: 0;
        margin-right: 300px;
    }
}

.search-bar{
    display:flex;
    flex-direction: row;
    height: 40px;

    margin-bottom: 20px;
    margin-left: 20px;

    input{
        font-size: 20px;
        height: 32px;
        width: 400px;
    }

    input::placeholder{
        font-size: 20px;
    }

    button{
        margin-left: 20px;
        width: 140px;
        height: 40px;

        box-shadow:none;
        border-radius: 20px;

        background-image: url("../../../../../assets/magnifier.png");
        background-position:  left 10px bottom 6px;
        background-repeat: no-repeat;
        background-size: 22px 22px;

        padding-right: 10px;
        text-align: right;
        font-size: 25px;
    }
}

.sensor-container-header{
    margin-left: 42px;
    display: flex;
    flex-direction: row;
    div {
        height: $columnHieght;
        width: $columnWidth;
        background-color: $headerColor;
        border: 1px solid;

        h1{
            font-size: 25px;
            text-align: center;
            margin: 0;
            margin-top: 4px;
        }
    }
}

.sensors-container{
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.sesors-table{
    position: fixed;
    bottom: 0;

    margin-top: 20px;
    margin-left: 160px;
    margin-bottom: 60px;
}

.table-fotter{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;

    button{

        width: 250px;
        height: 50px;

        h1{
            font-size: 25px;
            margin-top: 5px;
            text-align: center;
        }
    }
}

.pagination{
    margin-top: 5px;
    margin-left: 600px;

    button{
        font-size: 24px;

        width: auto;
        height: 40px;

        text-align: center;
        box-shadow: none;
        border-radius: 0;

        margin-left: 5px;
        margin-right: 5px;

        padding-top: 2px;
    }
}

.sensor-counter{
    font-size: 30px;
    margin-top: 5px;
    margin-left: 20px;
}